@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}

#root {
  max-width: 1280px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #141414;
  gap: 2rem;
  padding: 2rem;

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
}

.app > * {
  font-family: "Pretendard-Regular";
}

.contents {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 3fr;
  gap: 4rem;
  align-items: start;
}

.input-con,
.list-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.input-con {
  border: 1px solid #a6a6a6;
  border-radius: 20px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;

  .save-button {
    border: none;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    font-family: "Pretendard-Regular";
    background-color: #0e8ae8;
  }
}

.input-el {
  width: 100%;
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;
  align-items: flex-start;

  label {
    width: 6rem;
    padding-top: 0.3rem;
  }

  .input-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5rem;

    input {
      border-radius: 4px;
      border: 1px solid #a6a6a6;
      padding: 0.3rem;
      flex: 1;
      font-family: "Pretendard-Regular";
    }
  }
}

.select-el {
  width: 100%;
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;
  align-items: center;

  label {
    width: 6rem;
  }

  button {
    padding: 0.3rem 1rem;
    font-family: "Pretendard-Regular";
  }

  select {
    flex: 1;
    padding: 0.3rem 0.2rem;
    font-family: "Pretendard-Regular";
  }
}

.list-area {
  gap: 2rem;

  .list-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.search-con {
  width: 100%;
  display: flex;
  gap: 1rem;

  input {
    flex: 1;
    border: none;
    border-radius: 10px;
    background-color: #deeefa;
    padding: 0.8rem;
    font-family: "Pretendard-Regular";

    &:focus {
      outline: none;
    }
  }

  button {
    color: white;
    background-color: #0e8ae8;
    padding: 1rem 0.8rem;
    border: none;
    border-radius: 10px;
    font-family: "Pretendard-Regular";
  }
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted #a6a6a6;
  padding: 0.5rem;

  .info {
    display: flex;
    gap: 0.5rem;
  }

  .button-wrapper {
    button {
      padding: 0.5rem;
      font-family: "Pretendard-Regular";
    }
  }
}

.group-wrapper,
.detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(64, 64, 64, 0.3);

  justify-content: center;
  align-items: center;

  .close-button {
    font-family: "Pretendard-Regular";
    border: none;
    color: white;
    background-color: #f54242;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
  }
}

.group-modal,
.detail-modal {
  display: flex;
  flex-direction: column;
  background: #fff;

  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 10px;
  gap: 1.5rem;

  h2 {
    font-weight: 600;
    font-size: 1.3rem;
  }

  ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0;

    li {
      padding: 0.3rem 0;
    }
  }

  .input-wrapper {
    display: flex;

    button {
      padding: 0.3rem 0.5rem;
      font-family: "Pretendard-Regular";
    }

    input {
      flex: 1;
      font-family: "Pretendard-Regular";
    }
  }

  .edit-button {
    width: 100%;
    border: none;
    padding: 0.5rem;
    color: white;
    font-family: "Pretendard-Regular";
    background-color: #0e8ae8;
    border-radius: 6px;
  }
}

.group-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;

  span {
    width: 4rem;
  }

  input,
  select {
    font-family: "Pretendard-Regular";
    border: none;
    border-radius: 4px;
    background-color: #deeefa;
    padding: 0.3rem;
    flex: 1;
  }
}

.error {
  font-size: 0.625rem;
  color: #f54242;
}

@media (max-width: 800px) {
  .contents {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
